parameters:
	ignoreErrors:
		-
			message: '#^Method Quillstack\\TestCoverage\\CoverageOutput\\CoverageXml\:\:generate\(\) has parameter \$input with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/CoverageOutput/CoverageXml.php

		-
			message: '#^Method Quillstack\\TestCoverage\\CoverageOutput\\CoverageXml\:\:generate\(\) should return string but returns string\|false\.$#'
			identifier: return.type
			count: 1
			path: src/CoverageOutput/CoverageXml.php

		-
			message: '#^Method Quillstack\\TestCoverage\\Drivers\\NoCoverage\:\:process\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Drivers/NoCoverage.php

		-
			message: '#^Cannot call method getRealPath\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Drivers/PHPDbg.php

		-
			message: '#^Method Quillstack\\TestCoverage\\Drivers\\PHPDbg\:\:createOutputArray\(\) has parameter \$results with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Drivers/PHPDbg.php

		-
			message: '#^Method Quillstack\\TestCoverage\\Drivers\\PHPDbg\:\:createOutputArray\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Drivers/PHPDbg.php

		-
			message: '#^Method Quillstack\\TestCoverage\\Drivers\\PHPDbg\:\:createResultsArray\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Drivers/PHPDbg.php

		-
			message: '#^Method Quillstack\\TestCoverage\\Drivers\\PHPDbg\:\:process\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Drivers/PHPDbg.php

		-
			message: '#^Property Quillstack\\TestCoverage\\Drivers\\PHPDbg\:\:\$data \(array\) does not accept array\|null\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Drivers/PHPDbg.php

		-
			message: '#^Property Quillstack\\TestCoverage\\Drivers\\PHPDbg\:\:\$data type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Drivers/PHPDbg.php

		-
			message: '#^Property Quillstack\\TestCoverage\\TestCoverage\:\:\$lastOutput type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/TestCoverage.php

		-
			message: '#^Method Quillstack\\TestCoverage\\TestCoverageDriverInterface\:\:process\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/TestCoverageDriverInterface.php

		-
			message: '#^Method Quillstack\\TestCoverage\\TestCoverageOutputInterface\:\:generate\(\) has parameter \$input with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/TestCoverageOutputInterface.php
